openapi: 3.2.0
info:
  title: Dolby OptiView THEOlive ABR Ladders API
  version: v2
  description: REST API for managing OptiView Live (THEOlive) channels, ingests, engines, distributions, analytics, and webhooks.
servers:
- url: https://api.theo.live/v2
  description: V2 API
- url: https://api.theo.live
  description: Base (for /v1 endpoints)
security:
- BasicAuth: []
tags:
- name: ABR Ladders
paths:
  /abr:
    get:
      tags:
      - ABR Ladders
      operationId: get-abr-ladders
      summary: Get all ABR ladders for your organization
      responses:
        '200':
          description: List of ABR ladders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbrListResult'
components:
  schemas:
    AbrListResult:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Unique identifier of the ABR ladder
              name:
                type: string
                description: Name of the ABR ladder
              video:
                type: array
                items:
                  type: object
                  properties:
                    bitrate:
                      type: number
                      description: Bitrate in bps
                    id:
                      type: string
                      description: Unique identifier for this video quality
                    label:
                      type: string
                      description: Label for this video quality
                    width:
                      type: number
                      description: Width in pixels
                    height:
                      type: number
                      description: Height in pixels
                    frameRate:
                      type: object
                      properties:
                        scale:
                          type: number
                          minimum: 1
                          description: Frame rate scale
                        value:
                          type: number
                          minimum: 1
                          description: Frame rate value
                      required:
                      - scale
                      - value
                      description: Frame rate configuration
                  required:
                  - bitrate
                  - id
                  - label
                  - width
                  - height
                description: List of video quality entries
              audio:
                type: object
                properties:
                  bitrate:
                    type: number
                    minimum: 1
                    description: Audio bitrate in kbps
                required:
                - bitrate
                description: Audio configuration
              resources:
                type: object
                properties:
                  cpuCores:
                    type: number
                    minimum: 1
                    description: Number of CPU cores
                  memoryMiB:
                    type: number
                    minimum: 1
                    description: Memory in MiB
                required:
                - cpuCores
                - memoryMiB
                description: Resource allocation configuration
            required:
            - id
            - name
            - video
          description: List of ABR ladders
      required:
      - data
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
