openapi: 3.2.0
info:
  title: Dolby OptiView THEOlive Custom Endpoint Providers API
  version: v2
  description: REST API for managing OptiView Live (THEOlive) channels, ingests, engines, distributions, analytics, and webhooks.
servers:
- url: https://api.theo.live/v2
  description: V2 API
- url: https://api.theo.live
  description: Base (for /v1 endpoints)
security:
- BasicAuth: []
tags:
- name: Custom Endpoint Providers
paths:
  /custom-endpoint-providers:
    get:
      tags:
      - Custom Endpoint Providers
      operationId: get-custom-endpoint-providers
      summary: Get all custom endpoint providers for your organization
      responses:
        '200':
          description: List of custom endpoint providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEndpointProviderListResult'
components:
  schemas:
    CustomEndpointProvider:
      type: object
      properties:
        provider:
          type: string
          description: Provider name
        organizationId:
          type: string
          description: Organization ID
        inUse:
          type: boolean
          description: Whether any custom endpoints are using this provider
        createdAt:
          type: string
          description: Creation timestamp
        updatedAt:
          type: string
          description: Last update timestamp
      required:
      - provider
      - organizationId
      - inUse
      - createdAt
      - updatedAt
    CustomEndpointProviderListResult:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomEndpointProvider'
          description: List of custom endpoint providers
      required:
      - data
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
